.left {
  margin-left: 2rem;
  h5 {
    color: #212121;
  }

  .wishlist {
    margin-top: 1rem;
    .wishlist-card {
      width: 20rem;
      background-color: #212121;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
      }
      .close {
        cursor: pointer;
      }
    }
  }
}
